{% extends 'main.html' %} {% load static %} {% block content %}
<main class="add-password-container">
  <div class="add-password-sidebar">
    <h1 class="heading">BitPass</h1>
    <div class="add-password-display-user">
      <h4>{{request.user.name}}</h4>
      <p>{{greet}}!</p>
    </div>

    <h3>Get your password anytime anywhere</h3>
  </div>

  <form action="" method="POST" class="add-password-form">
    {% csrf_token %}
    <h1>Add Your Password</h1>
    <div class="form-control">
      <div class="title-form">
        <label for="">Title</label>
        <input
          type="text"
          name="title"
          id=""
          value="{{password.title}}"
          required
        />
      </div>
      <div class="email-form">
        <label for="">Email Address</label>
        <input
          type="email"
          name="email"
          id=""
          value="{{password.email}}"
          required
        />
      </div>
    </div>

    <div class="form-control">
      <div class="password-form">
        <label for="">Password</label>
        <input
          type="password"
          class="form-pass-in"
          name="saved_password"
          id=""
          value="{{decrypted_password}}"
          required
        />
        <img
          src="{% static 'images/icons/hide-ic.svg' %}"
          class="show-pass"
          alt=""
        />
        <img
          src="{% static 'images/icons/show-ic.svg' %}"
          class="hide-pass hidden"
          alt=""
        />
      </div>
      <div class="category-form">
        <label for="password-category">Category</label>
        <input
          type="text"
          name="category"
          id=""
          value="{{password.category}}"
          list="category-list"
          required
        />
        <datalist id="category-list">
          {% for category in categories %}
          <option value="{{category.category_name}}">
            {{category.category_name}}
          </option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    <div class="form-control">
      <div class="description-form">
        <label for="">Description</label>
        <textarea name="description" id="" cols="30" rows="10">
{{password.description}}</textarea
        >
      </div>
    </div>
    <div>
      <a href="{% url 'dashboard' %}" class="cancel btn-secondary">Cancel</a>
      <input type="submit" class="btn-primary" value="Save Password" />
    </div>
  </form>
</main>
{% endblock %}
